<h1>Query parking lots</h1>


<%= form_tag(controller: "parking_lots", action: "list", method: "get", class: "nifty_form")
 %> 

 <label>Reference address <input type="text" name="ref_addr"></label>

 <br>

 <input type="submit" name="Submit" value="Submit">

</form>