<h1>List of free parking lots</h1>

<table>
	
	<tr>
		<td>Street address</td>
		<td>Price per_hour</td>
		<td>Free lots</td>
		<td>Distance</td>
	</tr>


	<% @lots.each do |pl| %> 

	<tr>

		<td><%= pl.street_address %></td>

		<td><%= pl.price_per_hour %></td>

		<td><%= pl.free_lots %></td>

	</tr>

	
	<% end %> 

	

</table>


<p>
	Reference address: <td><%= params[:ref_addr] %></td>
</p>